/* importing lato from adobe */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


/* variables */
$color-orange: #ff5e0d;
// $color-grey: #424950;
$color-grey: #2f2c2c;
$font: "DM Sans";
$color-white: #ffffff;

body,
#app {
  margin: 0 !important;
  padding: 0;
  left: 0;
  right: 0;
  font-family: $font;
  color: $color-grey;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 100%;
}

.bold {
  font-weight: bold;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 50px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: $color-orange;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.wrapper {
  @apply flex;
  margin: 0;
  padding: 0;
  width: 100%;
}

.r-view {
  @apply w-full h-full;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  margin-left: 100px;
  margin-top: 100px;

  transition: 0.15s all ease-in;
}

.side {
  @apply flex flex-col shadow-md;
  overflow-x: hidden;
  padding: 0;
  height: 100vh;
  margin: 0;
  width: 100px;
  position: fixed;
  padding-top: 80px;
  transition: 0.15s all ease-in;
  /* width */
  ::-webkit-scrollbar {
    width: 20px;
    height: 50px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $color-orange;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.fa-lg:hover {
  color: $color-orange;
}

/* checkboxes for sign-in, sign-up and forgot password screens */

.ticker {
  cursor: pointer;
  background-color: $color-white;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid $color-orange;
  box-sizing: border-box;
  border-radius: 5px;
  min-width: 20px;
  vertical-align: middle;
  position: relative;
  margin-right: 5px;
  margin-bottom: 35px;
  margin-left: -16.5px;
  overflow: hidden;
}

.ticker::before {
  content: "✓";
  color: $color-white;
  font-size: 20px;
  position: relative;
  bottom: 6px;
  left: 1px;
}

input:checked + .ticker {
  background-color: $color-orange;
}

input:focus + .ticker {
  box-shadow: 0 0 1px $color-orange;
}

@media (max-width: 992px) {
  .ticker {
    cursor: pointer;
    background-color: $color-white;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid $color-orange;
    box-sizing: border-box;
    border-radius: 5px;
    vertical-align: middle;
    position: relative;
    margin-right: 5px;
    margin-bottom: 35px;
    margin-left: -26.5px;
  }
}

/* CustomButton.vue css */
.custom-button {
  background-color: $color-orange;
  border: none;
  border-radius: 5px;
  width: 100%;
  color: $color-white;
  font-size: 15px;
  font-weight: 400;
  height: 45px;
  padding: 0 20px 0 20px;
  margin-bottom: 20px;
}

.mobileNav {
  @apply py-2 pl-6 pr-12 flex justify-between shadow-sm;
  position: fixed;
  background-color: $color-white;
  width: 100%;
  z-index: 50;

  @media (min-width: 768px) {
    display: none;
  }
}

@media (max-width: 768px) {
  .side {
    width: 0px;
    transition: 0.15s all ease-in;
  }
  .r-view {
    margin: 0;
  }

  .section {
    margin: 1.5rem !important;
    width: calc(100% - 3rem) !important;
    margin-bottom: 60px !important;
  }
}

.mobileLogo {
  @apply flex place-items-center;
}

/* Navigation Bar */
.nav {
  @apply py-5 pl-6 pr-12 flex justify-between shadow-sm;

  transition: 0.15s all ease-out;
  position: fixed;
  background-color: $color-white;
  width: 100%;
  z-index: 50;
  ul li {
    @apply mx-5;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
  }

  ul li img {
    @apply align-middle;
    position: relative;
    top: 5px;
  }

  ul {
    list-style-type: none;
  }

  .items {
    @apply flex;
  }

  .sign-up {
    padding: 5px 17.5px 5px 17.5px;
    background-color: $color-orange;
    color: $color-white;
    border-radius: 4px;
    margin-right: 0;
  }

  @media (max-width: 768px) {
    @apply py-2;
    padding-right: 1.5rem;
    transition: 0.15s all ease-out;
    position: initial;
  }

  .mobile-hamburger{
    margin: 0px !important;
  }
  .profile{
    margin: 0px !important;
  }



  
.mobile-hamburger {
  display: none;
}

.mobileLogo {
  display: none;
}

.settings, .profile{
  position: absolute;
  top: 55px;
right: 25px;
display: flex;
flex-direction: column;
padding-left:20px;
padding-right:20px;
justify-content: center;
  width: 150px;
 height: 150px;
background-color: #ffffff;
border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 0;
transition: all 0.2s ease-in;
}

.profile{
  width: 180px;
  right: 15px;
}


/* .profile{
  position: absolute;
  top: 55px;
right: 25px;
display: flex;
flex-direction: column;
padding-left:20px;
padding-right:20px;
justify-content: center;
  width: 150px;
 height: 150px;
background-color: #ffffff;
border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 0;
transition: all 0.2s ease-in;
} */


.settings > div{
  margin-bottom: 20px;
}

.not-active{

  opacity: 0;
}



.settings > div:last-child{
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  .mobile-hamburger {
    @apply self-center;
    display: inline-block;
    margin-right: -40px;
  }

  .desktopLogo {
    display: none;
  }

  .mobileLogo {
    display: flex;
  }

  .mobileLogo > .fa-lg {
    margin-top: 7.5px;
    margin-right: 20px;
  }

  .mobile-hamburger > svg {
    margin-right: 20px;
  }

  .mobile-hamburger > svg:last-child{
    margin-right: 0px;
  }

  .items ul {
    display: none;
  }

.profile ul li{
    margin: unset;
    padding: unset;
  }

  .profile ul{
    display: flex;
    flex-direction: column; 
    
  }

  
  .profile ul a{
    margin: 3px 0;
    padding: 5px;
    border-radius: 6px;
  }

  
  .profile ul a:hover{
    color: #ffffff;
    background-color: #ff5e0d;
  }

}
}

.mobileSidebar {
  @apply py-5 px-2;

  li {
    @apply mx-5 py-4 flex place-items-center;
    font-weight: 500;
    font-size: 14px;
  }

  li:hover {
    border-radius: 6px;
    color: $color-orange;
  }

  li.active{
    color: $color-orange;
  }

  li div {
    @apply mr-2;
  }

  ul {
    @apply pt-5;
    list-style-type: none;
  }

  .close {
    position: absolute;
    right: 20px;
    top: 27.5px;
  }

  .logo {
    margin-left: 20px;
  }

  @media (min-width: 768px) {
    display: none !important;
  }


  
}

/* Side-bar navigation */
.sidebar {
  ul {
    margin-top: 15px;
  }

  ul li {
    @apply grid justify-center align-middle;
  }

  li {
    @apply place-items-center my-7 px-10;

    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
  }

  li:hover,
  li.active {
    color: $color-orange;
  }

  li img,
  li div {
    margin-bottom: 10px;
    margin-top: 2px;
    width: 20px;
  }

  ul {
    list-style-type: none;
  }
}

/* FlightsBooking.vue styling for booking engine */
.flights-booking {
  margin: 0 auto;

  .search {
    @apply px-6 ml-1.5;
    background-color: $color-orange;
    border-radius: 6px;
  }

  .flight-engine {
    @apply justify-center flex;
    margin-top: 10px;
  }

  /*
  .flight-engine:nth-child(3) >  .search {
      visibility: visible !important;
  }  */

  .header {
    margin: 0 auto;
    font-size: 33px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .active {
    color: $color-orange !important;
  }

  .f-input {
    @apply flex flex-1;
  }

  .f-input:nth-child(4) {
    @apply ml-2;
  }

  .f-input:nth-child(1) {
    @apply -ml-4;
  }

  input {
    @apply pl-10 pr-2;
    border: 1px solid $color-grey;
    border-radius: 6px;
    width: 100%;
    height: 50px;
  }



  input::placeholder {
    color: $color-grey;
    font-size: 15px;
    padding-left: 5px;
    font-weight: 500;
  }



  input:focus {
    outline: none;
    border-color: $color-grey;
    box-shadow: 0 0 2px $color-grey;
  }

  .f-input img {
    position: relative;
    left: 32.5px;
    width: 18px;
    z-index: 1;
  }

  .date {
    border: 1px solid $color-grey;
    border-radius: 6px;
  }

  .date input {
    margin-left: -18px;
    border: none;
    height: 50px;
    width: calc(100% + 18px);
    padding-left: 40px !important;  

  }

  .field-label
  {
 padding-left: 10px;
  }

  .date .field-input{
    box-shadow: 0 0 2px $color-grey;
  }

  .date > input:nth-child(4) {
    border-left: 1px solid $color-grey !important;
    background: transparent;
    border-radius: 0;
  }

  .date img {
    left: 16.25px;
  }

  .switch {
    @apply flex place-self-center;
    background: $color-white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: unset;
    left: unset;
    margin-right: -30px;
    margin-left: -15px;
    z-index: 2;
    cursor: pointer;
  }

  .switch img {
    @apply flex-1 flex;
    width: 20px;
    padding-left: 8.5px;
    padding-right: 8.5px;
  }

  .inner-switch {
    @apply flex flex-1;
    background: $color-white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin: 5px;
    width: 30px;
  }

  .options {
    list-style: none;
    margin: 0 auto;
    margin-bottom: 20px;
    font-weight: 600;
  }

  .searchMobile
  {
    display: none;
  }
  .trip-number
  {
    display: none;
  }

  .addTripMobile, .removeTripMobile{
    display: none;
  }


@media (max-width: 992px)
{
  .options {

    display: flex;
    flex-direction: column;
    width: 100%;
    justify-self: center;
  }

  .options > div{
    @apply my-2;
    width: 100% !important;
    margin-left: 0 !important;
  }


  .options .as{
  
    margin-left: 150px !important;
    left: 0px;
    z-index: 20;
  }

  
  .options .as-1{
    left: unset;
    margin-left: -100px !important;
    width: 200px;
    z-index: 20;
  }
}

  @media(max-width: 768px)
  {

    .search {
      display: none;
    }
.trip-number
{
  display: unset;
}

.individual-trip
{
  margin-top: 25px;
}
.addTripMobile
{
  display: unset;
  color: $color-orange;
  font-weight: bold;
  margin-top: 10px;
  float: right;
}

.removeTripMobile
{
  display: unset;
  font-weight: bold;
  float: right;
}

.removeTripMobile:hover{
  color: $color-orange;
}
    .searchMobile{
      display: unset;
        color: $color-white;
        height: 40px;
        text-align: center;
        margin-top: 20px;
        width: 100%;
        background-color: $color-orange;
        border-radius: 4px;
      
    }

    .options {

      display: flex;
      flex-direction: column;
      width: 100%;
      justify-self: center;
    }

    .options > div{
      @apply my-2;
      width: 100% !important;
      margin-left: 0 !important;
    }


    .options .as{
      left: 20px;
      margin-left: 0px !important;
    }

    
    .options .as-1{
      left: unset;
      margin-left: -135px !important;
      width: 200px;
    }
    
  .switch{
    @apply -mb-3 -mt-4;
    background-color: transparent;
    place-self: flex-end;
    margin-right: 5px;
  }

  .inner-switch{
    transform: rotate(90deg);
    box-shadow: 4px 0px 2px rgba(0, 0, 0, 0.2);
  }

  .f-input{
    
    margin-left: -18px !important;
  }


  .f-input:nth-child(4) {
    @apply mt-4;
    margin-left: 0px !important
  
  }

  .flight-engine{

    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;

  }

  }

  .options li {
    display: inline;
    margin-right: 45px;
    font-size: 15px;
    cursor: pointer;
  }

  .options li:last-child {
    margin-right: 15px;
  }

  .options div {
    display: inline;
    width: unset;
    margin-right: 60px;
  }

  .adultButton {
    @apply px-2 py-0.5;
    border-radius: 6px;
    border: 1px solid $color-grey;
  }

  .adultButton:hover {
    background-color: $color-orange;
    border-color: $color-orange;
    color: $color-white;
  }


  .as {
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    z-index: 2;
    position: absolute;
    margin-top: 35px;
    margin-left: -150px;
    cursor: default;
  }
  
  
  .as li,
  .as div {
    padding-right: 0;
    margin-right: 0;
    cursor: default;
  }
  
  .as li {
    @apply self-center my-2;
  }
  
  .traveler {
    cursor: pointer;
  }
  
  .as-1 {
    margin-left: -125px;
  }
  
  .as-1 li {
    @apply my-0 px-2;
    border-radius: 6px;
  }
  
  .as-1 li:hover {
    background-color: #ff5e0d;
    color: #ffffff;
  }
  
  
  .des {
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    z-index: 2;
    position: absolute;
    margin-top: 35px;
    cursor: default;
    min-width: 300px;
    margin-left: 50px;
    min-height: 100px;
  }
  
  .des li,
  .des div {
    padding-right: 0;
    margin-right: 0;
    cursor: default;
  }
  
  .des li {
    @apply self-center my-2;
  }
  
  .des li {
    @apply my-0 px-2;
    border-radius: 6px;
  }
  
  .des li:hover {
    background-color: #ff5e0d;
    color: #ffffff;
  }
  
  

}

/* Social-sign in buttons for signin pages */

.social-signin {
  @apply flex items-stretch;
  margin: 0;
  padding: 0;
  width: 100%;

  button {
    @apply flex-1 flex;
    background-color: rgba(255, 236, 226, 1);
    border: none;
    border-radius: 5px;
    margin-right: 20px;
    padding: 0 20px 0 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button > * {
    @apply py-3;
  }

  img {
    display: inline-block;
  }

  button:last-child {
    margin-right: 0px;
  }

  .icon {
    margin-right: 5px;
    width: 20px;
  }

  span {
    font-size: 14px;

    line-height: 18px;
  }

  @media (max-width: 992px) {
    button {
      margin-bottom: 20px;
      margin-right: 20px;
      padding: 0px;
      padding-right: 10px;
      padding-left: 10px;
    }
    span {
      display: none;
    }
    div {
      display: flex;
    }

    .icon {
      margin-right: 0px;
      width: 25px;
    }
  }

  @media (max-width: 768px) {
    button {
      @apply p-2;
    }

    .icon {
      padding: 0;
    }
  }
}

/* Forgot Password page */
.forgot-password {
  form {
    padding: 10vh 60px 60px 60px;
    margin: 0 auto;
  }

  input {
    width: 100%;
    height: 40px;
    border: 1px solid $color-orange;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 7.5px;
    padding: 0px 10px 0px 10px;
  }

  label {
    font-size: 16px;
  }

  input[type="checkbox"] {
    transform: scale(1.5);
    width: unset;
    height: unset;
    border: 1px solid $color-orange;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 35px;
    line-height: 5px;
    filter: hue-rotate(157deg);
  }

  .checkbox {
    display: flex;
    vertical-align: middle;
  }

  .form-input {
    margin-bottom: 35px;
    margin-top: 10px;
  }

  .half-input {
    display: flex;
  }

  .one-half {
    width: 50%;
    padding: 0 20px 0 0px;
  }

  .one-half:last-child {
    padding-right: 0px !important;
  }

  @media (max-width: 992px) {
    .side-image {
      display: none;
    }

    .checkbox {
      font-size: 14px;
    }

    form {
      padding: 8vh 30px 50px 30px;
    }
    label {
      font-size: 14px;
    }
    .form-input {
      margin-bottom: 20px;
      margin-top: 10px;
    }

    .checkbox {
      margin-top: 10px;
    }
    .content {
      margin-top: 30px;
    }

    input[type="checkbox"] {
      transform: scale(1.5);
      width: unset;
      height: unset;
      border: 1px solid $color-orange;
      box-sizing: border-box;
      border-radius: 5px;
      margin-right: 10px;
      margin-bottom: 35px;
      line-height: 5px;
      filter: hue-rotate(157deg);
    }
  }

  .grey-half {
    color: rgba(66, 73, 80, 0.71);
  }

  .forgot-link {
    float: right;
    text-decoration: none;
    color: $color-grey;
    font-size: 14px;
    margin-top: 5px;
  }

  .orange-link,
  .register-link {
    color: $color-orange;
  }
}

/* Sign In page */
.sign-in {
  form {
    padding: 10vh 60px 60px 60px;
    margin: 0 auto;
  }

  input {
    width: 100%;
    height: 40px;
    border: 1px solid $color-orange;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 7.5px;
    padding: 0px 10px 0px 10px;
  }

  label {
    font-size: 16px;
  }

  input[type="checkbox"] {
    width: unset;
    transform: scale(1.5);
    height: unset;
    bottom: 0.25em;
    position: relative;
    opacity: 0;
    z-index: 1;
  }
  .checktext {
    line-height: 20px;
  }

  .checkbox {
    display: flex;
    vertical-align: middle;
  }

  .form-input {
    margin-bottom: 35px;
    margin-top: 10px;
  }

  .half-input {
    display: flex;
  }

  .one-half {
    width: 50%;
    padding: 0 20px 0 0px;
  }

  .one-half:last-child {
    padding-right: 0px !important;
  }

  @media (max-width: 992px) {
    .side-image {
      display: none;
    }

    form {
      padding: 8vh 30px 50px 30px;
    }
    label {
      font-size: 14px;
    }
    .form-input {
      margin-bottom: 20px;
      margin-top: 10px;
    }

    .checkbox {
      margin-top: 10px;
      font-size: 14px;
    }
    .content {
      margin-top: 30px;
    }

    input[type="checkbox"] {
      margin-right: 10px;
      position: relative;
    }
  }

  .grey-half {
    color: rgba(66, 73, 80, 0.71);
  }

  .forgot-link {
    float: right;
    text-decoration: none;
    color: $color-grey;
    font-size: 14px;
    margin-top: 5px;
  }

  .orange-link,
  .register-link {
    color: $color-orange;
  }
}

/* Sign Up page */
.sign-up {
  form {
    padding: 10vh 60px 60px 60px;
    margin: 0 auto;
  }

  input {
    width: 100%;
    height: 40px;
    border: 1px solid $color-orange;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 7.5px;
    padding: 0px 10px 0px 10px;
  }

  label {
    font-size: 16px;
  }

  input[type="checkbox"] {
    width: unset;
    transform: scale(1.5);
    height: unset;
    bottom: 0.25em;
    position: relative;
    opacity: 0;
    z-index: 1;
  }

  .checktest {
    line-height: 17.5px;
  }

  .checkbox {
    display: flex;
  }

  .form-input {
    margin-bottom: 35px;
    margin-top: 10px;
  }

  .half-input {
    display: flex;
  }

  .one-half {
    width: 50%;
    padding: 0 20px 0 0px;
  }

  .one-half:last-child {
    padding-right: 0px !important;
  }

  @media (max-width: 992px) {
    .side-image {
      display: none;
    }

    .checkbox {
      font-size: 14px;
    }

    form {
      padding: 8vh 30px 50px 30px;
    }
    label {
      font-size: 14px;
    }
    .form-input {
      margin-bottom: 20px;
      margin-top: 10px;
    }

    .checktest {
      line-height: 15px;
    }

    .checkbox {
      margin-top: 10px;
    }
    .content {
      margin-top: 30px;
    }

    input[type="checkbox"] {
      margin-right: 10px;
      position: relative;
    }
  }

  .grey-half {
    color: rgba(66, 73, 80, 0.71);
  }

  .forgot-link {
    float: right;
    text-decoration: none;
    color: $color-grey;
    font-size: 14px;
  }

  .orange-link {
    color: $color-orange;
  }
}


.return-fromAccount {
  position: absolute;
  right: 5%;
  top: 50px;
}


.mobileFB
{
  .f-input {
    @apply flex flex-1;
  }

.compressed  input {
    @apply pl-10 pr-2;
    border: 1px solid $color-grey;
    border-radius: 6px;
    width: 100%;
    height: 50px;
  }



  input::placeholder {
    color: $color-grey;
    font-size: 15px;
    padding-left: 5px;
    font-weight: 500;
  }



  input:focus {
    outline: none;
    border-color: $color-grey;
    box-shadow: 0 0 2px $color-grey;
  }

.compressed  .f-input img {
    position: relative;
    left: 32.5px;
    width: 18px;
    z-index: 1;
  }

  .compressed .f-input:nth-child(4)
  {
    margin-left: -10px
  }

  

.f-others{
  max-width: 100px;
  margin-left: 0.5rem;
}

.switch{
  cursor: default;
}

.f-others input {
  padding-left: 0px;
  padding-right: 0px;
}

.f-others input::placeholder{
  padding-left: 0px;
  text-align: center;
}

.search{
  @apply flex place-items-center;
  color: $color-white;
  max-width: 120px;
margin-left: .5rem;
font-size: 15px;
}

.compressed .search img{
  padding-right: 5px;
}

.compressed input:disabled{
  background-color: $color-white;
}


}





.affiliate
{
   width: 100%;
   padding-bottom: 25px;
   background-color: #FFFFFF;

 .affiliate-sect h3, h3{
  color: #000000;
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
}

.row-affiliate-sect img{
   width: 100px;
   margin-right: 27px;
}


/* small screen */
@media (max-width: 700px) {
   .affiliate-sect h3{
       padding-top: 20px;
       padding-bottom: 7px;
       margin-bottom: unset;
   }
   .row-affiliate-sect img{
   text-align: center;
  }
    .affiliate-sect{
       margin-bottom: 20px;
   }
   .row-affiliate{
   display: unset;
   text-align: center;
   padding: 50px 70px 50px 70px;
}
  .row-affiliate-sect{
    display: flex;
   justify-content: space-between;
   flex-direction: row;
}
.row-affiliate-sect img{
   width: 70px;
   margin-right: 20px;
}
.row-affiliate-sect img:first-child{
   margin-left: 20px;
}
.row-icon{
   display: flex;
   justify-content: center;
   flex-direction: row;
}
.row-icon img{
   padding: 5px;
}
 .affiliate-sect .social-icon .fab, .fa-xs{
   height: 20px;
   width: 20px;
   margin: 20px;
}
}


/* big screen */
@media (min-width: 700px) {
 
  .row-affiliate{
   display: flex;
   justify-content: space-between;
}

.row-affiliate-sect{
   @apply flex; 
}

.affiliate-sect:nth-child(1){
   @apply pr-5;
}


.affiliate-sect:nth-child(2){
   @apply pl-5;
}

.row-affiliate-sect > img{
  @apply flex flex-1
}

.affiliate-sect{
  width: 50%;
}
  .affiliate-sect h3, .affiliate h3{
  text-align: left;
}
.row-icon{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
}

}


.flight-filter{
  

background: #FFFFFF;
/* margin-left: 20px; */
/* background: #FFECE2; */
box-sizing: border-box;
padding: 15px 15px 15px 15px;
border: 1px solid #FFECE2;
box-sizing: border-box;
border-radius: 15px;

.filter-by{
  margin-bottom: 20px;
}
.filter-header, .filter-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.filter-body h6{
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
margin-right: 30px;
margin-top: 10px;
color: #2F2C2C;
}
.filter-header h5{
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: rgba(66, 73, 80, 0.69);
}
.filter-body h6:last-child{
  margin-right: 0;
}
h4{
  font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
margin-bottom: 14px;
color: #2F2C2C;
}


.airline img{
  width: 50px;
  height: 50px;
  margin: 10px;
}
.flight-info{
  margin: 20px;
}
.flight-info h5, .weight h5{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  align-self: center;
  color: #424950;
  margin-bottom: 10px;
}
.weight .fa-xs{
   height: 20px;
   width: 20px;
   margin: 8px;
   color: #424950;
}
.weight{
   display: flex;
   flex-direction: row;
}
.center{
  text-align: center;
}
.bottom-button {
  padding: 5px 17.5px 5px 17.5px;
  background-color: #ff5e0d;
  color: #ffffff;
  border-radius: 4px;
  margin-right: 0;
}
.top-button {
  padding: 5px 17.5px 5px 17.5px;
  background-color: #ffffff;
  border: 1px solid #ff5e0d;
  color: #000;
  border-radius: 4px;
  margin-right: 0;
}
hr{
  
  width: 220px;
  height: 2.09px;
  display: grid;
  justify-self: center;
background: rgba(255, 94, 13, 0.3);
}

@media (min-width: 768px) {
.flight-row{
    display: flex;
    flex-direction: row;
    
    
}
.flight-button{
    display: flex;
    flex-direction: row;
    justify-content:right;
    padding: 10px 40px 10px 10px;
    position: relative;
}
.flight-top-button{
    display: flex;
    flex-direction: row;
    justify-content:left;
    padding: 10px 10px 10px 10px;
    position: relative;
}
.weight{
    margin-right: 70px;
}
}


}


.flight-form{
  background: none;
  box-shadow: 0px 4px 60px rgba(66, 73, 80, 0.05);
  border-radius: 15px;
  margin-bottom: 10px;
  margin-left: 15px;
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;

  .submit {
    padding: 5px 17.5px 5px 17.5px;
    background-color: #ff5e0d;
    color: #ffffff;
    width: 150px;
    border-radius: 4px;
    position: relative;
    right: 0;
  }
  .form-row {
    display: flex;
    flex-direction: row;
  }
  .title {
    width: 30%;
  }
  .form-section {
    display: flex;
    flex-direction: column;
    /* margin: 0 auto;
      width: calc(100% - 1.8rem);
      margin-bottom: 60px; */
  }
  input,
  select {
    border: 1px solid #ff5e0d;
    margin: 5px;
    width: 100%;
    height: 52px;
    border-radius: 5px;
    padding: 5px;
  }
 
   
  
  .center {
    text-align: center;
  }
 
}


.flight-option{
  
  background: #FFFFFF;
box-shadow: 0px 4px 60px rgba(66, 73, 80, 0.05);
border-radius: 15px;
margin-bottom: 10px;

box-sizing: border-box;
padding: 15px 15px 15px 15px;

.airline img{
    width: 50px;
    height: 50px;
    margin: 10px;
}
.flight-info{
    margin: 20px;
}
.flight-info h5, .weight h5{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    align-self: center;
    color: #424950;
    margin-bottom: 10px;
}
 .weight .fa-xs{
     height: 20px;
     width: 20px;
     margin: 8px;
     color: #424950;
 }
 .weight{
     display: flex;
     flex-direction: row;
 }
.center{
    text-align: center;
}
.bottom-button {
    padding: 5px 17.5px 5px 17.5px;
    background-color: #ff5e0d;
    color: #ffffff;
    border-radius: 4px;
    margin-right: 0;
  }
  .top-button {
    padding: 5px 17.5px 5px 17.5px;
    background-color: #ffffff;
    border: 1px solid #ff5e0d;
    color: #000;
    border-radius: 4px;
    margin-right: 0;
  }
hr{
    
    width: 220px;
    height: 2.09px;
    display: grid;
    justify-self: center;
background: rgba(255, 94, 13, 0.3);
}

@media (min-width: 768px) {
  .flight-row{
      display: flex;
      flex-direction: row;
      
      
  }
  .flight-button{
      display: flex;
      flex-direction: row;
      justify-content:right;
      padding: 10px 40px 10px 10px;
      position: relative;
  }
  .flight-top-button{
      display: flex;
      flex-direction: row;
      justify-content:left;
      padding: 10px 10px 10px 10px;
      position: relative;
  }
  .weight{
      margin-right: 70px;
  }
}


}







.footer{
  width: 100%;
  padding-bottom: 25px;
  background-color: #424950;

 .footer-sect h3, .footer h3{
 color: #FFFFFF;
 font-style: normal;
 font-weight: 700;
 font-size: 17px;
 line-height: 21px;
 margin-bottom: 9px;
}

 .footer-sect h5{
 color: rgba(255, 255, 255, 0.53);
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 19px;
 margin-bottom: 5px;
}
 .footer-sect .social-icon .fab, .fa-xs{
  color: #fff ;
  height: 22px;
  width: 22px;
  margin: 10px;
}
.copyright{
  text-align: center;
}

/* small screen */
@media (max-width: 700px) {
   .footer-sect h3{
      padding-top: 20px;
      padding-bottom: 7px;
      margin-bottom: unset;
  }
   .footer-sect{
      margin-bottom: 20px;
  }
  .row-footer{
  display: unset;
  text-align: center;
  padding: 50px 70px 50px 70px;
}
.row-icon{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.row-icon img{
  padding: 5px;
}
 .footer-sect .social-icon .fab, .fa-xs{
  height: 20px;
  width: 20px;
  margin: 20px;
}
}


/* big screen */
@media (min-width: 700px) {
   .row-footer{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 50px 70px 50px 70px;
}

/* .row-mobile{
  display: unset !important;
} */
.row-icon{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
}
}

//loader

.loader{
  max-width: 100px;
  max-height: 100px;

}

//mobile flight-booking
.mobileFB{
  .as {
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    z-index: 2;
    position: absolute;
    margin-left: -150px;
    cursor: default;
    margin-top: 27.5px;
  }
  
  
  .as li,
  .as div {
    padding-right: 0;
    margin-right: 0;
    cursor: default;
  }
  
  .as li {
    @apply self-center my-2;
  }
  
  .traveler {
    cursor: pointer;
  }
  
  .as-1 {
    margin-left: -125px;
  }
  
  .as-1 li {
    @apply my-0 px-2;
    border-radius: 6px;
  }
  
  .as-1 li:hover {
    background-color: #ff5e0d;
    color: #ffffff;
  }
  
  
  .des {
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    z-index: 2;
    position: absolute;
    margin-top: 35px;
    cursor: default;
    min-width: 300px;
    margin-left: 50px;
    min-height: 100px;
  }
  
  .des li,
  .des div {
    padding-right: 0;
    margin-right: 0;
    cursor: default;
  }
  
  .des li {
    @apply self-center my-2;
  }
  
  .des li {
    @apply my-0 px-2;
    border-radius: 6px;
  }
  
  .des li:hover {
    background-color: #ff5e0d;
    color: #ffffff;
  }
  
  
  .cancel{
      float: right;
      padding-right: 5px;
  }
  
  
  .expanded{
      
      margin-bottom: 60px;
  }
  
  
  .compressed{
      margin-bottom: 10px;
  }
}



  .activeMobileSidebar {
    @apply shadow-md;
    position: fixed;
    top: 0;
    left: 0;
    width: min(45%, 250px);
    height: 100%;
    background-color: #ffffff;
    opacity: 1;
    z-index: 9999;
    transition: all 0.15s ease-in-out;
  }
  
  .notActiveMobileSidebar{
    width:0;
    position: fixed;
    top: 0;
    left: -200px;
    opacity: 0;
    transition: all 0.15s ease-in-out;
  }






.popular-trip{
  
.location-image {
  border-radius: 6px 6px 0px 0px; width: 100%;
  max-height: 150px;
  overflow: hidden;
}

.title {
  font-weight: 700;
  font-size: 22.5px;
}

.price {
  font-size: 17.2px;
  float: right;
  font-weight: bold;
  color: #000000;
}

.popular-trip {
  overflow: hidden;
}

.info {
  padding: 10px;
  margin-top: -2px;
  border: 1px solid #cccccc;
  border-radius: 0 0 10px 10px;
}

.clear {
  clear: both;
  margin: 0;
  padding: 0;
}

.additional-info {
  margin-left: 7.5px;
}

.date {
  font-size: 15px;
  margin-top: -2px;
  margin-bottom: 2px;
}

.airline {
  width: 20px;
  height: 20px;
}
}




.subscribe-section{
 
  display: flex;
  border: 1px solid #cccccc;
  border-radius: 6px;
  padding: 60px 40px 60px 40px;


.subscribe-input {
  @apply px-4;
  border: 1px solid #cccccc;
  height: 55px;
  margin: 0;
  width: 350px;
  border-radius: 8px 0px 0px 8px;
  color: #424950
}

.subscribe-input::placeholder{
  color: #424950;
  font-weight: 500;
}

.subscribe-button {
  padding: 0 30px 0 30px;
  height: 55px;
  background-color: #ff5e0d;
  border-radius: 0px 8px 8px 0px;
  margin: 0px 0 0 -7.5px;
  color: #ffffff;
  font-size: 17.5px;
  font-weight: 600;
}

.sub-email {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.info{
  padding-right: 50px;
  width: 50%;
}

.info h3
{
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.info p{
  font-size: 20px;
  font-weight: 500;
}
}

#app{
  .load{
    @apply  grid justify-center items-center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(50,50,50,0.5);
    z-index: 2000;
    cursor: pointer;
  }
  
}



.flights-results{

  .section {
    margin: 0 auto;
    width: calc(100% - 6rem);
    margin-bottom: 60px;
  }
  
  .section-mini{
    margin-bottom: 0px;
  }
  
  .section-title {
    @apply mt-20;
  }
  
  .section-subheading {
    @apply mb-10;
  }
  
   .expand{
      padding-top: 120px;
  
  }
  
   .compress{
      padding-top: 80px;
  }
  
  .mini-flights{
      margin: 0 auto;
      position: absolute;
      width: calc(100% - 6rem - 4px);
      
      margin-top: -100px;
      background-color: #FFECE2 !important;
         transition: all .3s ease-out;
  }
  
  
  
  @media (max-width: 768px) {
  
    .mini-flights{
    width: 100%;
     margin-top: -80px;
     position: relative;
    }
  }
}


.index{
  .section {
    margin: 0 auto;
    width: calc(100% - 6rem);
    margin-bottom: 60px;
  }
  
  .section-title {
    @apply mt-20;
  }
  
  .section-subheading {
    @apply mb-10;
  }
  
  .popular-trip {
    @apply mx-3;
  }
  
  .popular-trip:first-child {
    @apply ml-0;
  }
  
  .popular-trip:last-child {
    @apply mr-0;
  }
  
  .section-title {
    font-size: 33px;
    font-weight: 700;
  }
  
  .advert {
    width: 100%;
    border-radius: 6px;
  }
}



.popular-links{
  
  @apply flex flex-1;
  
  .link {
    @apply flex items-center;
    border: 1px solid #cccccc;
    border-radius: 6px;
    width: 100%;
    margin-right: 20px;
    padding: 15px 20px 15px 20px;
  }
  
  .link:last-child {
    margin-right: 0;
  }
  
  .info {
    @apply grid;
  
    margin-left: 20px;
  }
  
  .info h3 {
    font-weight:700;
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .info p {
    color: rgba(66, 73, 80, 0.75);
  }
  

  
  .link > img {
    @apply self-center;
  }
  }
  