@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

html,
body{

    font-family: 'DM Sans', sans-serif;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
}

h1{
    font-family: DM Sans;
    font-size: 30px;
    font-weight: 700;
    color: #424950;
    text-align: center;
}
h2{
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 700;
    color: #424950;
    text-align: center;
}


.traveller-detail{
    position: relative;

}

button{
    background: #ff5e0d;
    color: #FFFFFF;
}